---
import DefaultLayout from '~/layouts/DefaultLayout.astro'

interface OrderTypes {
  imageSrc: string
  imageAlt: string
  name: string
  price: number
  list: string[]
}

const orders: OrderTypes[] = [
  {
    imageSrc: '/images/order-image-1.png',
    imageAlt: 'Order image',
    name: 'NanoShield Single Set',
    price: 29.95,
    list: ['1x NanoShield', '2x Microfiber Cloth'],
  },
  {
    imageSrc: '/images/order-image-2.png',
    imageAlt: 'Order image',
    name: 'NanoShield Cloth Set',
    price: 15.0,
    list: ['4x branded microfiber wipes'],
  },
  {
    imageSrc: '/images/order-image-3.png',
    imageAlt: 'Order image',
    name: 'NanoShield Triple Pack',
    price: 29.95,
    list: ['1x NanoShield', '6x branded microfiber cloths'],
  },
]
---

<DefaultLayout title="Badasslabs Checkout">
  <form class="grid grid-cols-1 gap-8 xl:grid-cols-2" action="">
    <div class="bg-gray-25 xl:order-2">
      <div class="md:mx-auto md:w-full md:max-w-[32rem]">
        <div class="px-4 pt-8">
          <h3>Order summary</h3>

          <div class="order-summary">
            {
              orders.map((order) => (
                <div class="order-item">
                  <div class="order-details">
                    <div class="order-image">
                      <img
                        src={order.imageSrc}
                        alt={order.imageAlt}
                        width="96"
                        height="96"
                        decoding="async"
                      />
                    </div>

                    <div class="order-info">
                      <h4 class="order-name">{order.name}</h4>
                      <p class="order-price">€{order.price}</p>
                      <ul class="order-list">
                        {order.list.map((item) => (
                          <li>{item}</li>
                        ))}
                      </ul>
                    </div>
                  </div>

                  <div class="order-options">
                    <a class="order-remove" href="#">
                      Remove
                    </a>
                    <select class="order-quantity">
                      <option value="1">1</option>
                      <option value="2">2</option>
                    </select>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>

      <div class="border-t border-t-gray-200 py-8">
        <div class="flex flex-col gap-8 px-4 md:mx-auto md:w-full md:max-w-[32rem] md:px-0">
          <div class="flex w-full items-end gap-3">
            <div class="flex grow flex-col gap-1.5">
              <label class="text-sm font-medium text-gray-700" for="coupon-code">
                Coupon code
              </label>
              <input
                class="rounded-lg border border-gray-300 px-3 py-2 text-gray-900 shadow-xs transition focus:border-brand-300 focus:outline-none focus:ring-4 focus:ring-brand-500/25"
                id="coupon-code"
                type="text"
              />
            </div>
            <button
              class="shrink-0 rounded-lg border border-brand-600 bg-brand-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs transition hover:border-brand-700 hover:bg-brand-700 focus:outline-none focus:ring-4 focus:ring-brand-500/25"
              type="button"
            >
              Apply voucher
            </button>
          </div>

          <div class="flex justify-between text-sm font-semibold text-gray-600">
            <p>Subtotal</p>
            <p>€107.35</p>
          </div>

          <div class="flex justify-between text-sm font-semibold text-gray-600">
            <p class="flex items-center gap-2">
              <span>Discount</span>
              <span
                class="rounded-full border border-gray-200 bg-gray-50 px-2 py-0.5 text-xs font-medium text-gray-700"
              >
                20JOAQUIN
              </span>
            </p>
            <p>€96.62</p>
          </div>

          <div class="flex justify-between text-sm font-semibold text-gray-600">
            <p>Shipping fee</p>
            <p>Free</p>
          </div>

          <div class="flex justify-between text-sm font-semibold text-gray-600">
            <p>Total</p>
            <p>€96.62</p>
          </div>
        </div>
      </div>

      <div class="border-t border-t-gray-200">
        <div class="px-4 py-8 md:mx-auto md:w-full md:max-w-[32rem] md:px-0">
          <button
            class="block w-full rounded-lg border border-brand-600 bg-brand-600 px-4.5 py-3 text-md font-semibold text-white shadow-xs transition hover:border-brand-700 hover:bg-brand-700 focus:outline-none focus:ring-4 focus:ring-brand-500/25"
            type="button"
          >
            Pay €96.62
          </button>
        </div>
      </div>
    </div>

    <div class="md:mx-auto md:w-full md:max-w-[32rem] xl:order-1">
      <div class="px-4 py-8 md:px-0">
        <section class="mb-8 flex flex-col gap-6 border-b border-b-gray-200 pb-8">
          <h3 class="text-lg font-semibold text-gray-800">Contact information</h3>
          <div class="grid grid-cols-1 gap-1.5">
            <label class="text-sm font-medium text-gray-700" for="email-address">
              Email address
            </label>
            <input
              class="rounded-lg border border-gray-300 px-3 py-2 text-gray-900 shadow-xs transition placeholder:text-gray-500 focus:border-brand-300 focus:outline-none focus:ring-4 focus:ring-brand-500/25"
              id="email-address"
              type="email"
            />
          </div>
        </section>

        <section class="mb-8 flex flex-col gap-6 border-b border-b-gray-200 pb-8">
          <h3 class="text-lg font-semibold text-gray-800">Shipping information</h3>
          <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
            <div class="grid grid-cols-1 gap-1.5">
              <label class="text-sm font-medium text-gray-700" for="first-name">First name</label>
              <input
                class="rounded-lg border border-gray-300 px-3 py-2 text-gray-900 shadow-xs transition placeholder:text-gray-500 focus:border-brand-300 focus:outline-none focus:ring-4 focus:ring-brand-500/25"
                id="first-name"
                type="text"
              />
            </div>

            <div class="grid grid-cols-1 gap-1.5">
              <label class="text-sm font-medium text-gray-700" for="last-name">Last name</label>
              <input
                class="rounded-lg border border-gray-300 px-3 py-2 text-gray-900 shadow-xs transition placeholder:text-gray-500 focus:border-brand-300 focus:outline-none focus:ring-4 focus:ring-brand-500/25"
                id="last-name"
                type="text"
              />
            </div>
          </div>

          <div class="grid grid-cols-1 gap-1.5">
            <label class="text-sm font-medium text-gray-700" for="company-name">
              Company name
            </label>
            <input
              class="rounded-lg border border-gray-300 px-3 py-2 text-gray-900 shadow-xs transition placeholder:text-gray-500 focus:border-brand-300 focus:outline-none focus:ring-4 focus:ring-brand-500/25"
              id="company-name"
              type="text"
            />
          </div>

          <div class="grid grid-cols-1 gap-1.5">
            <label class="text-sm font-medium text-gray-700" for="address">Address</label>
            <input
              class="rounded-lg border border-gray-300 px-3 py-2 text-gray-900 shadow-xs transition placeholder:text-gray-500 focus:border-brand-300 focus:outline-none focus:ring-4 focus:ring-brand-500/25"
              id="address"
              type="text"
            />
          </div>

          <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
            <div class="grid grid-cols-1 gap-1.5">
              <label class="text-sm font-medium text-gray-700" for="street">Street</label>
              <input
                class="rounded-lg border border-gray-300 px-3 py-2 text-gray-900 shadow-xs transition placeholder:text-gray-500 focus:border-brand-300 focus:outline-none focus:ring-4 focus:ring-brand-500/25"
                id="street"
                type="text"
              />
            </div>

            <div class="grid grid-cols-1 gap-1.5">
              <label class="text-sm font-medium text-gray-700" for="postal-code">Postal code</label>
              <input
                class="rounded-lg border border-gray-300 px-3 py-2 text-gray-900 shadow-xs transition placeholder:text-gray-500 focus:border-brand-300 focus:outline-none focus:ring-4 focus:ring-brand-500/25"
                id="postal-code"
                type="text"
              />
            </div>
          </div>

          <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
            <div class="grid grid-cols-1 gap-1.5">
              <label class="text-sm font-medium text-gray-700" for="city">City</label>
              <input
                class="rounded-lg border border-gray-300 px-3 py-2 text-gray-900 shadow-xs transition placeholder:text-gray-500 focus:border-brand-300 focus:outline-none focus:ring-4 focus:ring-brand-500/25"
                id="city"
                type="text"
              />
            </div>

            <div class="grid grid-cols-1 gap-1.5">
              <label class="text-sm font-medium text-gray-700" for="country">Country</label>
              <input
                class="rounded-lg border border-gray-300 px-3 py-2 text-gray-900 shadow-xs transition placeholder:text-gray-500 focus:border-brand-300 focus:outline-none focus:ring-4 focus:ring-brand-500/25"
                id="country"
                type="text"
              />
            </div>
          </div>

          <div class="grid grid-cols-1 gap-1.5">
            <label class="text-sm font-medium text-gray-700" for="mobile-number">
              Mobile number
            </label>
            <input
              class="rounded-lg border border-gray-300 px-3 py-2 text-gray-900 shadow-xs transition placeholder:text-gray-500 focus:border-brand-300 focus:outline-none focus:ring-4 focus:ring-brand-500/25"
              id="mobile-number"
              type="text"
            />
          </div>
        </section>

        <section class="flex flex-col gap-6">
          <h3 class="text-lg font-semibold text-gray-800">Payment details</h3>

          <div class="flex items-center justify-between gap-2">
            <div class="h-px flex-1 bg-gray-200"></div>
            <p class="text-sm font-medium text-gray-600">or</p>
            <div class="h-px flex-1 bg-gray-200"></div>
          </div>

          <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
            <div class="grid grid-cols-1 gap-1.5">
              <label class="text-sm font-medium text-gray-700" for="expiration-date">
                Expiration date (MM/YY)
              </label>
              <input
                class="rounded-lg border border-gray-300 px-3 py-2 text-gray-900 shadow-xs transition placeholder:text-gray-500 focus:border-brand-300 focus:outline-none focus:ring-4 focus:ring-brand-500/25"
                id="expiration-date"
                type="date"
              />
            </div>

            <div class="grid grid-cols-1 gap-1.5">
              <label class="text-sm font-medium text-gray-700" for="cvc">CVC</label>
              <input
                class="rounded-lg border border-gray-300 px-3 py-2 text-gray-900 shadow-xs transition placeholder:text-gray-500 focus:border-brand-300 focus:outline-none focus:ring-4 focus:ring-brand-500/25"
                id="cvc"
                type="number"
              />
            </div>
          </div>

          <button
            class="block w-full rounded-lg border border-brand-600 bg-brand-600 px-4.5 py-3 text-md font-semibold text-white shadow-xs transition hover:border-brand-700 hover:bg-brand-700 focus:outline-none focus:ring-4 focus:ring-brand-500/25 xl:hidden"
            type="button"
          >
            Pay €96.62
          </button>
        </section>
      </div>
    </div>
  </form>
</DefaultLayout>
